# Node.js
node_modules/
dist/
dist-ssr/
build/
*.log

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Server specifics
server/node_modules/
server/.env

# Client specifics
client/node_modules/
client/dist/
client/.env

# Editor
.vscode/
.idea/
*.suo
*.sln
*.sw?
.DS_Store
